@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    scroll-padding-top: 1.25rem;
    scroll-behavior: smooth;
    background-color: #d7d6d2;
    background-repeat: no-repeat;
    --color1: #FFF;
    --color2: #181818;
    --color3: #1b3039;
}

/* Estilos para la cabecera */
.header {
    background-color: var(--color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    padding: 0 100px;
    box-shadow: 10px 25px 28px rgba(0, 0, 0, 0.3);
}

.header .logo {
    padding: 5px;
    border-radius: 50%;
    background-color: #2b6077;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header .logo img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.header .logo:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
    z-index: 20;
}

.header .nav-links.left {
    margin-left: 100px;
}

.header .nav-links.right {
    margin-right: 100px;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

.header .nav-link li {
    display: inline-block;
    padding: 0 25px;
    position: relative;
}

.header .nav-links a {
    font-weight: 500;
    color: #d7d6d2;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: all 0.1s ease 0s;
    z-index: 10;
}

.header .nav-links i {
    font-weight: 600;
    font-size: 18px;
}

.header .nav-links li:hover,
.header .nav-link li {
    transform: scale(1);
}

.header .nav-links .nav-drop a::after {
    opacity: 0;
} 

.header .nav-link li a,
.header .nav-link li i {
    color: var(--color3);
    background-color: var(--color1);
    transform: scale(1.1);
    transition: all 0.1s ease 0s;
}


.header .nav-links li:hover a,
.header .nav-links li:hover i {
    color: var(--color3);
    background-color: var(--color1);
    transform: scale(1.1);
    transition: all 0.1s ease 0s;
}

.header .nav-links .nav-link1 li a,
.header .nav-links .nav-link1 li i {
    background-color: var(--color3);
    transform: scale(1.1);
    font-size: 500;
    transition: all 0.1s ease 0s;
    opacity: 0;
}

.header .nav-links .nav-link1 li a::after {
    opacity: 0;
}

.header .nav-links .nav-link1 li a{
    color: #d7d6d2;
    opacity: 1;
    font-weight: 500;
    border-bottom: solid 1px white;
}

.header .nav-links .nav-link1 li a:hover,
.header .nav-links .nav-link1 li i:hover{
    color: #FFF;
    transform: scale(1.2);
} 

.header .nav-links .nav-link1 li i {
    font-size: 18px;
    opacity: 1;
    color: #d7d6d2;
}

.header .nav-links a::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: -20%;
    left: 5%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
}

.header .nav-links a::after, .header .nav-link a::after {
    transform: scale(0, 1);
    transition: transform 0.3s ease;
    opacity: 1;
}

.header .nav-links a:hover::after, .header .nav-link a::after {
    transform: scale(1, 1);
}

.header .btn, .btn3 {
    font-weight: 700;
    color: var(--color3);
    padding: 8px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}

.dropmenu {
    display: none;
}

.header .nav-links .nav-drop:hover .dropmenu {
    position: absolute;
    display: block;
    text-align: center;
    left: 10px;
    top: 100%;
    background: var(--color3);
    box-shadow: 10px 25px 28px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 15px;
    border: 2px solid #d7d6d2;
}

.dropmenu a {
    font-weight: 500;
    margin-top: 10px;
    color: #d7d6d2;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: all 0.1s ease 0s;
}

.dropmenu ul {
    display: block;
    margin: 10px;
}

.dropmenu ul li {
    width: 150px;
    padding: 10px;
}
.header .active {
    font-weight: 700;
    color: var(--color3);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    opacity: 1;
}

.container {
    width: 100vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -40%);
    border: 10px solid var(--color1);
    border-radius: 8px;
    box-shadow: 10px 25px 28px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.wrapper img {
    width: 100%; /* Ajusta la anchura de las imágenes aquí */
    height: auto;
    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}

img {
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0; 
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.sidebar li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.sidebar a {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

.sidebar li:first-child {
    position: absolute;
    top: 10px;
    left: 10px;
}

.sidebar li:first-child a {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align to the left */
    color: var(--color1);
    font-size: 30px;
    padding: 10px;
}

.sidebar li:first-child a:hover {
    color: var(--color2); /* Cambia el color en hover según sea necesario */
}

.menu-button {
    display: none;
}

.bars-icon {
    width: 30px;
    height: 30px;
    fill: white;
    margin-right: 10px; /* Ajusta el margen derecho para mover el icono a la izquierda */
}

.menu-icon {
    width: 30px;
    height: 30px;
    fill: white;
}

.sidebar .btn1 i {
    font-size: 18px;
    color: #fefefe;
}


.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 65px;
    bottom:20px;
    left:30px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #20ba5a;
    background: #FFF;
}

.btn-fcb{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 65px;
    bottom: 90px;
    left:30px;
    background: #2471a3;
    color:#FFF;
    border-radius:50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    z-index:100;
    transition: all 300ms ease;
}
.btn-fcb:hover{
    text-decoration: none;
    color: #2471a3;
    background: #FFF;
}

.content {
    margin-top: 15%;
}

.sou {
    padding: 10px;
    background-color: #2b6077;
}

.contenido1 {
    text-align: center;
    height: auto;
    margin: 10px auto;
    color: var(--color2);
    position: relative;
    margin-bottom: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

.contenido1 h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    padding-right: 2%;
    margin-top: 3%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    color: #d7d6d2;
}

.contenido1 .par {
    font-weight: 600;
    margin-top: 40px;
    padding-left: 0;
    padding-bottom: 35px;
    font-family: 'Nunito', sans-serif;
    line-height: 30px;
    color: #d7d6d2;
}

.contenido1 h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-left: 0;
    margin-top: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    color: #d7d6d2;
}

.box-contenido {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-contenido .box1 {
    height: 15rem;
    width: 17rem;
    background: #1b3039;
    text-align: center;
    border-radius: 1rem;
    margin: 2rem;
    color: #d7d6d2;
    margin-bottom: 20px;
    padding: 25px; /* Añade un padding para separar el texto del fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 300px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
}

.box-contenido .box1 h3 {
    margin-left: auto;
    margin-bottom: 10px;
}

.box1 .btn-inf {
    width: 160px;
    height: 40px;
    margin-left: auto;
    margin-top: 70px;
    border: none;
    background-color: #2b6077;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.box1 .btn-inf a {
    font-weight: 700;
    text-decoration: none;
    color: #d7d6d2;
    font-size: 20px;
    transition: .3s ease;
}

.btn-inf:hover {
    background: #d7d6d2;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btn-inf:hover a{
    color: var(--color3);
}

.box1 .btn-inf2 {
    width: 160px;
    height: 40px;
    margin-left: auto;
    margin-top: 42px;
    border: none;
    background-color: #2b6077;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.box1 .btn-inf2 a {
    font-weight: 700;
    text-decoration: none;
    color: #d7d6d2;
    font-size: 20px;
    transition: .3s ease;
}

.btn-inf2:hover {
    background: #d7d6d2;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btn-inf2:hover a{
    color: var(--color3);
}

.box1 .btn-inf3 {
    width: 160px;
    height: 40px;
    margin-left: auto;
    margin-top: 15px;
    border: none;
    background-color: #2b6077;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.box1 .btn-inf3 a {
    font-weight: 700;
    text-decoration: none;
    color: #d7d6d2;
    font-size: 20px;
    transition: .3s ease;
}

.btn-inf3:hover {
    background: #d7d6d2;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btn-inf3:hover a{
    color: var(--color3);
}


@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .header .logo {
        margin-bottom: 10px;
        width: 70px; /* Ajusta el tamaño del logo en dispositivos móviles */
        height: 70px; /* Ajusta el tamaño del logo en dispositivos móviles */
    }

    .header .logo img {
        height: 60px; /* Ajusta el tamaño del logo en dispositivos móviles */
        width: 60px; /* Ajusta el tamaño del logo en dispositivos móviles */
    }

    .header .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .header .nav-links li {
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }

    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 1200px) {
    .header .btn i {
        display: none;
    }
    .header .nav-links.right {
        margin-right: 70px;
    }
    .header .nav-links.left {
        margin-left: 70px;
    }

    .container {
        width: 85vmin;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-3%, -45%);
        border: 10px solid var(--color1);
        border-radius: 8px;
        box-shadow: 10px 25px 28px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
}

@media (max-width: 1260px) {
    .header .btn i {
        font-size: 16px;
    }
    .header .nav-links.right {
        margin-right: 70px;
    }
    .header .nav-links.left {
        margin-left: 70px;
    }
}

@media (max-width: 1050px) {
    .header .btn i {
        display: none;
    }
    .header .nav-links.right {
        margin-right: 30px;
    }
    .header .nav-links.left {
        margin-left: 30px;
    }

    .container {
        width: 70vmin;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 10px solid var(--color1);
        border-radius: 8px;
        box-shadow: 10px 25px 28px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
}

@media (max-width: 881px) {
    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .header .logo {
        margin-bottom: 10px;
        width: 70px; /* Ajusta el tamaño del logo en dispositivos móviles */
        height: 70px; /* Ajusta el tamaño del logo en dispositivos móviles */
    }

    .header .logo img {
        height: 60px; /* Ajusta el tamaño del logo en dispositivos móviles */
        width: 60px; /* Ajusta el tamaño del logo en dispositivos móviles */
    }

    .header .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .header .nav-links li {
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }

    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .container {
        width: 85vmin;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 10px solid var(--color1);
        border-radius: 8px;
        box-shadow: 10px 25px 28px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
    
    .contenido1 {
        text-align: center;
        height: auto;
        margin: 10px;
        margin-top: 70%;
        color: var(--color2);
        position: relative;
        margin-bottom: 40px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 480px) {
    * {
        font-size: 16px; /* Ajusta el tamaño de la fuente en dispositivos más pequeños */
    }

    .header {
        padding: 15px 20px; /* Reduce el espaciado horizontal en dispositivos más pequeños */
    }

    .header .logo {
        width: 70px; /* Ajusta aún más el tamaño del logo */
        height: 70px; /* Ajusta aún más el tamaño del logo */
    }

    .header .logo img {
        height: 60px; /* Ajusta aún más el tamaño del logo */
        width: 60px; /* Ajusta aún más el tamaño del logo */
    }

    .header .nav-links li {
        padding: 5px 0; /* Ajusta el padding de los enlaces en dispositivos más pequeños */
    }

    .header .btn {
        padding: 8px 20px; /* Ajusta el tamaño del botón */
    }

    .sidebar {
        width: 100%;
    }

    .sidebar a {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 10px 0; /* Incrementa el padding para aumentar el tamaño del área clicable */
        color: #fefefe;
        text-decoration: none;
        font-size: 24px; /* Incrementa el tamaño de la fuente */
    }

    .container {
        width: 95vmin;
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 7px solid var(--color2);
        border-radius: 8px;
        box-shadow: 10px 25px 28px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
}
